# Port local (ignoré par o2switch/Passenger, mais utile en dev)
PORT=3000


# MySQL
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=urlr
MYSQL_PASSWORD=changeme
MYSQL_DB=urlr


# Sécurité
ADMIN_TOKEN=change-this-admin-token


# Domaine public (utilisé pour générer les QR Codes / URLs courtes)
PUBLIC_BASE_URL=https://short.example.com